<!-- ---
layout: page
title: Publications
--- -->

<section aria-labelledby="manuscripts-heading">
  <h2 id="manuscripts-heading">Manuscripts</h2>
  <ul class="list-publications">
    {% assign sorted_manuscripts = site.manuscripts | sort: 'sort-key' | reverse %}
      {% for manuscript in sorted_manuscripts %}
        <article class="module">
          {% if manuscript.link %}
            <h3 class="publication-title">{{ manuscript.title }} <a href="{{ manuscript.link }}">[{{ manuscript.link-type }}]</a></h3>
          {% else %}
            <h3 class="publication-title">{{ manuscript.title }}</h3>
          {% endif %}
          <p>
            {% if manuscript.alpha-beta == true %}
              (&alpha;-&beta;) {{ manuscript.authors }}
            {% else %}
              {{ manuscript.authors }}
            {% endif %}
            {% if manuscript.status %}
              <br>
              {{ manuscript.status }}
            {% endif %}
          </p>
        </article>
      {% endfor %}
  </ul>
</section>

<br>

<section aria-labelledby="published-publications-heading">
  <h2 id="published-publications-heading">Publications</h2>
  <ul class="list-publications">
    {% assign sorted_publications = site.publications | sort: 'sort-key' | reverse %}
      {% for publication in sorted_publications %}
        <article class="module">
          {% if publication.link %}
            <h3 class="publication-title">{{ publication.title }} <a href="{{ publication.link }}">[{{ publication.link-type }}]</a></h3>
          {% else %}
            <h3 class="publication-title">{{ publication.title }}</h3>
          {% endif %}
          <p>
            {% if publication.alpha-beta == true %}
              (&alpha;-&beta;) {{ publication.authors }}
            {% else %}
              {{ publication.authors }}
            {% endif %}
            <br>
            {{ publication.conference }}
          </p>
        </article>
      {% endfor %}
  </ul>
</section>
