<header class="header">
    <div class="navigation">
        <a href="/" class="logo">{{ site.title }}</a>

        <ul class="menu">
          <!-- <li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}">Home</a></li> -->
            <li class="menu__entry"><a href="#about">About</a></li>
            <!-- <li class="menu__entry"><a href="{{ '/publications' | prepend: site.baseurl }}">Publications</a></li> -->
            <li class="menu__entry"><a href="#publications">Publications</a></li>
            <!-- <li class="menu__entry"><a href="{{ '/teachings' | prepend: site.baseurl }}">Teaching</a></li> -->
            <li class="menu__entry"><a href="#teaching">Teaching</a></li>
            <!-- <li class="menu__entry"><a href="{{ '/miscs' | prepend: site.baseurl }}">Miscs</a></li> -->
            <li class="menu__entry"><a href="#miscs">Miscs</a></li>
        </ul>
    </div>

    <!TODO: Add linkedin and email.>
    <!-- <ul class="social-links">
        <a href="{{ '/assets/vendor/files/Chenghan%20Zhou-CV.pdf' | prepend: site.baseurl }}" class="social-links__entry" target="_blank">
          <img class="img-icon" src="{{ '/assets/vendor/icons/cv-icon.png' | prepend: site.baseurl }}" alt="">
        </a> -->

        <!-- <a href="{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
          <img class="img-icon" src="{{ '/assets/vendor/icons/linkedin-icon.png' | prepend: site.baseurl }}" alt="">
        </a> -->
        <!-- <p>chenghanzh AT princeton DOT edu</p> -->
    <!-- </ul> -->
</header>
